.cart {
	border-radius: 10px;
	border: none;
	box-shadow: 0.5px 2px 5px black;
	width: 500px;
	margin: 50px auto;
    height: 250px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
    padding: 30px;
}
div{
    
    display: flex;
    flex-direction: column;
}
label{
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color:rgb(88, 88, 92);
  
   
}
input{
    width: 300px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: none;
    box-shadow:0.5px 2px 5px black; ;
}
button{
border-radius:5px ;
margin-top: 20px;
width: 80px;
color: white;
height: 25px;
background-color: rgb(29, 29, 67);
border: none;

 }
button:disabled{

background-color: gray


 }

 img{
     width: 80px;
     height: 80px;
     border-radius: 50px;
 }

 .profile{
     margin: 50px auto;


 }
 .profile div{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}